.txtAboutMe > h1 {
  font-family: 'Jura';
  color: #E290FE;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 5%;
}

.txtAboutMe p {
    font-family: 'Lato';
    color: #fff;
    font-size: 1.7vw;
    font-weight: 300;
    text-align: justify;
}

.about{
  display: flex;
  flex-direction: row;
  padding:40px;
  box-shadow: -3px 18px 39px -6px rgba(0,0,0,0.55);
}

.aboutMe {
  position: relative;
  width: 40%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.txtAboutMe{
  width: 60%;
  padding-right: 10%;
}

.txtAboutMe > p > svg{
  width: 30px;
  height: auto;
  margin-right: 10px;
  fill: #C43FF3;
  color: #C43FF3;
}

.txtAboutMe > p > b {
  color: #E290FE;
}

.foto {
  top: 7%;
  z-index: 1;
  width: 25vw;
  max-width: 25vw;
  border-radius: 100%;
  justify-content: center;
  align-items: center;

}

.backFoto {
  position: relative;
  z-index: 0;
  margin-left: 35%;
  max-width: 15vw;
  max-height: 200vh;
}

/* Download button */
.download {
  background-color: #250235 !important;
  display: inline-flex;
  border: 3px solid #E290FE !important;
  padding: 15px;
  border-radius: 25px !important;
  transition: all 0.4s !important;
  margin-top: 3%;
  width: 270px;
  align-items: center !important;
  justify-content: center !important;
  color: #E290FE;
  font-size: 1.4vw;
}

.download > div {
  margin-left: 15px;

}

.download:hover {
  color: #fff !important;
  background-color: #7a07af !important;
}

/* Responsividade */
@media screen and (max-width: 500px) {
    /* About */
    .about {
      flex-direction: column;

  }
  
  .aboutMe {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Download button */
.download {
  background-color: #250235 !important;
  display: inline-flex;
  border: 3px solid #E290FE !important;
  padding: 5px;
  border-radius: 25px !important;
  transition: all 0.4s !important;
  margin-top: 7%;
  width: 150px;
  align-items: center !important;
  justify-content: center !important;
  color: #E290FE;
  font-size: 3vw;

}

.download > div {
  margin-left: 5px;

}

.download:hover {
  color: #fff !important;
  background-color: #7a07af !important;
}

  .txtAboutMe {
     width: 100%;
     padding-right: 0%;

  }
  
  .txtAboutMe > h1 {
      align-self: center;
      justify-content: center;
      
      font-size: 6vw;
      margin-top: 15%;
  }
  
  .txtAboutMe > p {
      font-size: 3.5vw;
      font-weight: 300;
      text-align: justify;
      padding: 15px;
  }

  .foto {
      top: 0%;
      left: 32%;
      width: 35vw;
      max-width: 35vw;
  }
     
  .backFoto {
      position: relative;
      z-index: 0;
      margin-left: 19%;
      margin-top: 10%;
      max-width: 100%;
      min-height: 5vh;
      height: 5vh;
      width: 60%;
      margin-bottom: 8%;
      border-radius: 20px;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  /* About */
  .aboutMe {
    width: 40%;
    margin-top: -50px;
  }

  .txtAboutMe{
    width: 60%;
    padding-left: 4%;
  }

  .txtAboutMe > h1 {
    font-size: 4vw;
  }

  .txtAboutMe > p{
    font-size: 2vw;
    text-align: justify;
  }

  .foto {

    position: absolute;
    top: 18%;
    left: 14%;
    z-index: 1;
    width: 30vw;
    max-width: 30vw;
  }

  .backFoto {
    position: relative;
    z-index: 0;
    margin-top: 14%;
    margin-left: 35%;
    max-width: 15vw;
    height: 35vh;
    max-height: 200vh;
  }

    /* Download button */
.download {
  background-color: #250235 !important;
  display: inline-flex;
  border: 3px solid #E290FE !important;
  padding: 5px;
  border-radius: 15px !important;
  transition: all 0.4s !important;
  margin-top: 120%;
  width: 200px;
  align-items: center !important;
  justify-content: center !important;
  color: #E290FE;
  font-size: 2.2vw;

}

.download > div {
  margin-left: 5px;

}

.download:hover {
  color: #fff !important;
  background-color: #7a07af !important;
}
}

@media screen and (min-width: 901px) and (max-width: 1320px){
  /* About */
  .txtAboutMe > h1 {
      font-size: 3vw;
  }
  
  .txtAboutMe > p{
      text-align: justify;
  }
}