nav > ul > a > li {
  list-style: none;
  text-decoration: none;
  font-family: 'Inter';
  color: #E290FE;
  padding-top: 4vh; 
}

a {
  text-decoration: none !important;
}

hr {
  color: #fff !important;
  opacity: 30% !important;
  
}


main.dark nav > ul > a > li{
  color: #780DAA;
  font-weight: 600;
}

main.dark #nav.ativado #menu {
  background-color: #e2b5f6;
}

/* Navegation */
nav {
  display: flex;
  justify-content: center;
}

nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 50%;
  
}

nav > ul > a > li:hover{
  color: rgb(207, 15, 210);
}

hr {
  color: #fff;
  opacity: 30%;
}

.line {
  margin: 0 auto;
  margin-top: 0vh; 
}

#btnMobile{
  display: none ;
}

/* /////////////////////////////////////////// */
/* Modo Dark e Ligth */

.trilho{
  width: 72px;
  height: 33px;
  background-color: #520377;
  margin-top: 1%;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.trilho .indicador{
  width: 32px;
  height:32px;
  background-color: #fff;
  background-image: url(../../../src/assets/img/Ligth.png);
  border-radius: 50%;
  transform: scale(.9);
  position: absolute;
  left: 0;
  transition: 0.5s;

}

.trilho.dark{
  background-color: #ba7cd4;
}

.trilho.dark .indicador{
  left: 40px;
  /*background-color: #520377;*/
  background-image: url(../../../src/assets/img/Dark\ \(1\).png);
}

main.dark{
  background-color: #ebc5fb;
}

main.dark nav > ul > a > li{
  color: #780DAA;
  font-weight: 600;
}

main.dark hr{
  color: #d163f5;
}

main.dark header{
  background-color: #520377;
}



main.dark .skills > h1{
  color: #C43FF3;
  font-weight: 600;
}

main.dark .projects > h1{
  color: #C43FF3;
  font-weight: 600;
}

main.dark .study > h1{
  color: #C43FF3;
  font-weight: 600;
}




main.dark .card-text{
  color: #14001d;
}



/* menu Mobile */

main.dark #nav.ativado #menu {
  background-color: #e2b5f6;
}



/* /////////////////////////////////////////// */

@media screen and (min-width: 501px) and (max-width: 900px) {
  /* Navegation */
  nav > ul {
      width: 74vw;
      font-size: 2.7vw;
  }
}

/* Responsividade */
@media screen and (max-width: 500px) {
    
  /* Nav Mobile */
  nav{
      display: flex;
      flex-direction: row-reverse;
  }

  #btnMobile{
      display: block;
      background-image: url(../../assets/img/menu.png);
      color: transparent;
      border: none;
      background-color: transparent;
      width: 35px;
      align-items: center ;
      margin-top: 1%;
      margin-left: 50%;
  }

  #nav.ativado #menu{
      display: block;
      position: absolute;
      width: 100%;
      top: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #320148;
      z-index: 6
  }

  #menu{
      display: none;
  }

  .contatoLi{
      margin-bottom: 5%;
  }

  hr{
      display: none;
  }
}










