/* Modo Dark e Ligth */

.trilho{
    width: 72px;
    height: 33px;
    background-color: #520377;
    margin-top: 1%;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.trilho .indicador{
    width: 32px;
    height:32px;
    background-color: #fff;
    background-image: url(../../src/assets/img/Ligth.png);
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: 0.5s;
 
}

.trilho.dark{
    background-color: #ba7cd4;
}

.trilho.dark .indicador{
    left: 40px;
    /*background-color: #520377;*/
    background-image: url(../../src/assets/img/Dark\ \(1\).png);
}

.dark{
    background-color: #ebc5fb;
}

.dark nav > ul > a > li{
    color: #780DAA;
    font-weight: 600;
}

.dark hr{
    color: #d163f5;
}

.dark header{
    background-color: #520377;
}



.dark .skills > h1{
    color: #C43FF3;
    font-weight: 600;
}

.dark .projects > h1{
    color: #C43FF3;
    font-weight: 600;
}

.dark .study > h1{
    color: #C43FF3;
    font-weight: 600;
}








/* menu Mobile */

.dark #nav.ativado #menu {
    background-color: #e2b5f6;
}

