.infoContact > h1 {
  font-family: 'Kanit';
  font-size: 3.5em;
  display: flex;
  align-items: center;
  margin-bottom: 4%;
  margin-top: 2%;
  color: #fff;
  justify-content: center;
}

/* Seção: Contate-me */
.contact {
  background: linear-gradient(90deg, rgb(220, 167, 255) 0%, rgb(129, 48, 186) 45%, rgb(99, 0, 112) 100%);
  align-items: center;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 36px 55px -6px rgba(0,0,0,0.55);
  
}

.infoContact {
  align-items: center;
  justify-content: center;
  width: 50%;

}

.contact > figure {
   width: 50%;
}

.contact > figure > img {
  width: 25vw;
  height: auto;

}

.infoDetails{
  margin-left: 40%;
}

.gmail a, .linkedin a, .github a {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
  margin-top: 2%;
  color: #fff;
  align-items: center;
}

.linkedin img, .github img {
  margin-right:2%; 
  padding-bottom: 1%;
}

.gmail img{
  width: 45px;
  height: 52.02px;
  margin-right:2%; 
  padding-bottom: 1%;
}

.gmail p, .linkedin p, .github p {
  font-size: 1.2em;
}

/* Responsividade */
@media screen and (max-width: 500px) {
   /* Contact me */
   .infoContact > h1 {
    font-family: 'Inter';
    font-weight: 700;
    color: #fff;
    margin-bottom: 10%;
  }

  .infoDetails{
    margin-left: 0%;
  }

   .contact {
    background-color: #4D2177;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 36px 55px -6px rgba(0,0,0,0.55);
    height: 80vh;
    justify-content: center;
}


.infoContact {
    display: flex;
    flex-direction: column;
}

.infoContact h1 {
  font-size: 2rem;
}

.contact > figure {
     justify-content: center;

}

.contact > figure img {
    width: 55vw;
    margin-top: -100px;
  
}

.gmail a, .linkedin a, .github a {
  display: flex;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 2%;
  color: #fff;
  align-items: center;
}


.linkedin img, .github img {
  margin-right:2%; 
  padding-bottom: 1%;
  width: 20px;
  height: auto;
}

.gmail img{
  width: 20px;
  height: auto;
  margin-right:2%; 
  padding-bottom: 1%;
  
}

.gmail p, .linkedin p, .github p {
  font-size: 1rem;
  
  margin-bottom: 0%;
  margin-left: 7%;
}
}

@media screen and (min-width: 768px) and (max-width: 1320px){
 /* Contact me */
 .infoContact > h1 {
  font-family: 'Kanit';
  color: #fff;
  margin-bottom: 4%;
  margin-top: 2%;
  font-size: 3rem;

}

 .contact {
  background: linear-gradient(90deg, rgb(220, 167, 255) 0%, rgb(129, 48, 186) 45%, rgb(99, 0, 112) 100%);
  align-items: center;
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 36px 55px -6px rgba(0,0,0,0.55);
}

.infoContact {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10%;
  

}

.contact > figure {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 10%;
}

.contact > figure > img {
  width: 30vw;
  height: auto;
}


.gmail a, .linkedin a, .github a {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
  margin-top: 2%;
}

.linkedin img, .github img {
  margin-right:2%; 
  padding-bottom: 1%;
  width: 30px;
  height: auto;
}

.infoDetails{
  margin-left: 0%;
}

.gmail img{
  width: 30px;
  height: auto;
  margin-right:2%; 
  padding-bottom: 1%;
}

.gmail p, .linkedin p, .github p {
  font-size: 1em;
  margin-left: 5%;
}

}